{% extends 'base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<h1>Log in</h1>
<form method="post">{% csrf_token %}
  <div class="mb-3">
    <label for="id_username" class="form-label">Username</label>
    <input type="text" name="username" autofocus required class="form-control" id="id_username">
  </div>
  <div class="mb-3">
    <label for="id_password" class="form-label">Password</label>
    <input type="password" name="password" required class="form-control" id="id_password">
  </div>
  <button class="btn btn-primary" type="submit">Log in</button>
</form>
{% endblock %}
